<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.user.email %></td>
        <td><%= note.body %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= form_for SharedNote.new do |f| %>
            <%= f.hidden_field :note_id, value: note.id%>
            <%= f.hidden_field :sharer_id, value: current_user.id %>
            <%= f.hidden_field :shareable_id, value: note.id %>
            <%= f.hidden_field :shareable_type, value: note.class %>
            <%= select("shared_note", "user_id", User.where.not(id: [current_user.id] + SharedNote.where(note_id: note.id).pluck(:user_id)).collect {|p| [ p.email, p.id ] }) %>
            <%= select("shared_note", "permissions", SharedNote::PERMISSIONS.each_with_index {|p, i| [ p, i ] }) %>
            <%= f.submit 'Share' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% @notes_shared.each do |snote| %>
      <tr>
        <td><%= snote.sharer.email %></td>
        <td><%= snote.note.body %></td>
        <% if snote.read? %>
          <td><%= link_to 'Show', snote.note %></td>
        <% elsif snote.update_note? %>
          <td><%= link_to 'Show', snote.note %></td>
          <td><%= link_to 'Edit', edit_note_path(snote.note) %></td>
        <% else %>
          <td><%= link_to 'Show', snote.note %></td>
          <td><%= link_to 'Edit', edit_note_path(snote.note) %></td>
          <td><%= link_to 'Destroy', snote.note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td>
          <%= form_for SharedNote.new do |f| %>
            <%= f.hidden_field :note_id, value: snote.note_id%>
            <%= f.hidden_field :sharer_id, value: current_user.id %>
            <%= f.hidden_field :shareable_id, value: snote.id %>
            <%= f.hidden_field :shareable_type, value: snote.class %>
            <%= select("shared_note", "user_id", User.where.not(id: [current_user.id] + SharedNote.where(note_id: snote.note_id).pluck(:user_id)).collect {|p| [ p.email, p.id ] }) %>
            <% if snote.read? %>
              <%= select("shared_note", "permissions", [[ 'read', 0 ]]) %>
            <% elsif snote.update_note? %>
              <%= select("shared_note", "permissions", [[ 'read', 0 ], ['update_note', 1]]) %>
            <% else %>
              <%= select("shared_note", "permissions", SharedNote::PERMISSIONS.each_with_index {|p, i| [ p, i ] }) %>
            <% end %>
            <%= f.submit 'Share' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
