<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @note.user %>
</p>

<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
