<%= form_for(@shared_note) do |f| %>
  <% if @shared_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shared_note.errors.count, "error") %> prohibited this shared_note from being saved:</h2>

      <ul>
      <% @shared_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :sharer %><br>
    <%= f.text_field :sharer %>
  </div>
  <div class="field">
    <%= f.label :permissions %><br>
    <%= f.number_field :permissions %>
  </div>
  <div class="field">
    <%= f.label :shareable_id %><br>
    <%= f.text_field :shareable_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
