<p id="notice"><%= notice %></p>

<h1>Listing Shared Notes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Sharer</th>
      <th>Permissions</th>
      <th>Shareable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shared_notes.each do |shared_note| %>
      <tr>
        <td><%= shared_note.user %></td>
        <td><%= shared_note.sharer %></td>
        <td><%= shared_note.permissions %></td>
        <td><%= shared_note.shareable %></td>
        <td><%= link_to 'Show', shared_note %></td>
        <td><%= link_to 'Edit', edit_shared_note_path(shared_note) %></td>
        <td><%= link_to 'Destroy', shared_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shared note', new_shared_note_path %>
