<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shared_note.user %>
</p>

<p>
  <strong>Sharer:</strong>
  <%= @shared_note.sharer %>
</p>

<p>
  <strong>Permissions:</strong>
  <%= @shared_note.permissions %>
</p>

<p>
  <strong>Shareable:</strong>
  <%= @shared_note.shareable %>
</p>

<%= link_to 'Edit', edit_shared_note_path(@shared_note) %> |
<%= link_to 'Back', shared_notes_path %>
